In [11]:
import pandas as pd
import requests 
import os
from dotenv import load_dotenv
import sys
sys.path.append('../')
import src.apis_functions as af

In [5]:
!pip3 install python-dotenv

Requirement already satisfied: python-dotenv in /home/lydia/anaconda3/lib/python3.8/site-packages (0.19.1)

In [15]:
df = pd.read_csv("../data/City_Quality_of_Life_Dataset.csv")

### Borro columnas que no me interesan de mi df:

In [16]:
df.drop(["Unnamed: 0", "Startups", "Venture Capital", "Travel Connectivity", "Business Freedom", "Tolerance"], axis=1, inplace=True)

In [17]:
df.sample()

,UA_Name,UA_Country,UA_Continent,Housing,Cost of Living,Commute,Safety,Healthcare,Education,Environmental Quality,Economy,Taxation,Internet Access,Leisure & Culture,Outdoors
43,Brussels,Belgium,Europe,6.355,4.477,5.38675,6.703,8.158333,6.653,4.591,4.8115,1.883,7.5715,8.144,4.123

In [18]:
df.shape

(266, 15)

### Cambio nombres de las columnas.

In [19]:
for_city = {'UA_Name': 'City'}

In [20]:
df.rename(columns=for_city,inplace=True)

In [21]:
for_country= {'UA_Country': 'Country'}

In [22]:
df.rename(columns=for_country,inplace=True)

In [23]:
for_continent= {'UA_Continent': 'Continent'}

In [24]:
df.rename(columns=for_continent,inplace=True)

In [25]:
df.head()

,City,Country,Continent,Housing,Cost of Living,Commute,Safety,Healthcare,Education,Environmental Quality,Economy,Taxation,Internet Access,Leisure & Culture,Outdoors
0,Aarhus,Denmark,Europe,6.1315,4.015,6.31175,9.6165,8.704333,5.3665,7.63300,4.8865,5.0680,8.373,3.1870,4.1300
1,Adelaide,Australia,Oceania,6.3095,4.692,5.33625,7.9260,7.936667,5.1420,8.33075,6.0695,4.5885,4.341,4.3285,5.5310
2,Albuquerque,New Mexico,North America,7.2620,6.059,5.05575,1.3435,6.430000,4.1520,7.31950,6.5145,4.3460,5.396,4.8900,3.5155
3,Almaty,Kazakhstan,Asia,9.2820,9.333,5.87125,7.3090,4.545667,2.2830,3.85675,5.2690,8.5220,2.886,2.9370,5.5000
4,Amsterdam,Netherlands,Europe,3.0530,3.824,6.11850,8.5035,7.907333,6.1800,7.59725,5.0530,4.9550,4.523,8.8740,5.3070

In [30]:
ciudades=list(df.City.unique())

In [31]:
ciudades

['Aarhus',
 'Adelaide',
 'Albuquerque',
 'Almaty',
 'Amsterdam',
 'Anchorage',
 'Andorra',
 'Ankara',
 'Asheville',
 'Asuncion',
 'Athens',
 'Atlanta',
 'Auckland',
 'Austin',
 'Baku',
 'Bali',
 'Baltimore',
 'Bangkok',
 'Barcelona',
 'Beijing',
 'Beirut',
 'Belfast',
 'Belgrade',
 'Belize City',
 'Bengaluru',
 'Bergen',
 'Berlin',
 'Bern',
 'Bilbao',
 'Birmingham',
 'Bogota',
 'Boise',
 'Bologna',
 'Bordeaux',
 'Boston',
 'Boulder',
 'Bozeman',
 'Bratislava',
 'Brighton',
 'Brisbane',
 'Bristol',
 'Brno',
 'Brussels',
 'Bucharest',
 'Budapest',
 'Buenos Aires',
 'Buffalo',
 'Cairo',
 'Calgary',
 'Cambridge',
 'Cape Town',
 'Caracas',
 'Cardiff',
 'Casablanca',
 'Charleston',
 'Charlotte',
 'Chattanooga',
 'Chennai',
 'Chiang Mai',
 'Chicago',
 'Chisinau',
 'Christchurch',
 'Cincinnati',
 'Cleveland',
 'Cluj-Napoca',
 'Cologne',
 'Colorado Springs',
 'Columbus',
 'Copenhagen',
 'Cork',
 'Curitiba',
 'Dallas',
 'Dar es Salaam',
 'Delhi',
 'Denver',
 'Des Moines',
 'Detroit',
 'Doha',
 'Dresden',
 'Dubai',
 'Dublin',
 'Dusseldorf',
 'Edinburgh',
 'Edmonton',
 'Eindhoven',
 'Eugene',
 'Florence',
 'Florianopolis',
 'Fort Collins',
 'Frankfurt',
 'Fukuoka',
 'Galway',
 'Gdansk',
 'Geneva',
 'Gibraltar',
 'Glasgow',
 'Gothenburg',
 'Grenoble',
 'Guadalajara',
 'Guatemala City',
 'Halifax',
 'Hamburg',
 'Hannover',
 'Havana',
 'Helsinki',
 'Ho Chi Minh City',
 'Hong Kong',
 'Honolulu',
 'Houston',
 'Hyderabad',
 'Indianapolis',
 'Innsbruck',
 'Istanbul',
 'Jacksonville',
 'Jakarta',
 'Johannesburg',
 'Kansas City',
 'Karlsruhe',
 'Kathmandu',
 'Kiev',
 'Kingston',
 'Knoxville',
 'Krakow',
 'Kuala Lumpur',
 'Kyoto',
 'Lagos',
 'La Paz',
 'Las Palmas de Gran Canaria',
 'Las Vegas',
 'Lausanne',
 'Leeds',
 'Leipzig',
 'Lille',
 'Lima',
 'Lisbon',
 'Liverpool',
 'Ljubljana',
 'London',
 'Los Angeles',
 'Louisville',
 'Luxembourg',
 'Lviv',
 'Lyon',
 'Madison',
 'Madrid',
 'Malaga',
 'Malmo',
 'Managua',
 'Manchester',
 'Manila',
 'Marseille',
 'Medellin',
 'Melbourne',
 'Memphis',
 'Mexico City',
 'Miami',
 'Milan',
 'Milwaukee',
 'Minneapolis-Saint Paul',
 'Minsk',
 'Montevideo',
 'Montreal',
 'Moscow',
 'Mumbai',
 'Munich',
 'Nairobi',
 'Nantes',
 'Naples',
 'Nashville',
 'New Orleans',
 'New York',
 'Nice',
 'Nicosia',
 'Oklahoma City',
 'Omaha',
 'Orlando',
 'Osaka',
 'Oslo',
 'Ottawa',
 'Oulu',
 'Oxford',
 'Palo Alto',
 'Panama',
 'Paris',
 'Perth',
 'Philadelphia',
 'Phnom Penh',
 'Phoenix',
 'Phuket',
 'Pittsburgh',
 'Portland',
 'Porto',
 'Porto Alegre',
 'Prague',
 'Providence',
 'Quebec',
 'Quito',
 'Raleigh',
 'Reykjavik',
 'Richmond',
 'Riga',
 'Rio De Janeiro',
 'Riyadh',
 'Rochester',
 'Rome',
 'Rotterdam',
 'Saint Petersburg',
 'Salt Lake City',
 'San Antonio',
 'San Diego',
 'San Francisco Bay Area',
 'San Jose',
 'San Juan',
 'San Luis Obispo',
 'San Salvador',
 'Santiago',
 'Santo Domingo',
 'Sao Paulo',
 'Sarajevo',
 'Saskatoon',
 'Seattle',
 'Seoul',
 'Seville',
 'Shanghai',
 'Singapore',
 'Skopje',
 'Sofia',
 'St. Louis',
 'Stockholm',
 'Stuttgart',
 'Sydney',
 'Taipei',
 'Tallinn',
 'Tampa Bay Area',
 'Tampere',
 'Tartu',
 'Tashkent',
 'Tbilisi',
 'Tehran',
 'Tel Aviv',
 'The Hague',
 'Thessaloniki',
 'Tokyo',
 'Toronto',
 'Toulouse',
 'Tunis',
 'Turin',
 'Turku',
 'Uppsala',
 'Utrecht',
 'Valencia',
 'Valletta',
 'Vancouver',
 'Victoria',
 'Vienna',
 'Vilnius',
 'Warsaw',
 'Washington',
 'Wellington',
 'Winnipeg',
 'Wroclaw',
 'Yerevan',
 'Zagreb',
 'Zurich']

In [27]:
len(ciudades)

264

In [28]:
paises=list(df.Country.unique())

In [29]:
len(paises)

135

### ENRICHING MY DF WITH AN API ABOUT AIR QUALITY:

In [ ]:
url="http://api.waqi.info/feed/seoul/?token=8d08c0b307aab938e8682c862b6183224bd72a33"

In [ ]:
#url="http://api.waqi.info/feed"

In [ ]:
#parameters = {"city":"Beijing","token": "8d08c0b307aab938e8682c862b6183224bd72a33"}

In [ ]:
#parameters = {"token": "8d08c0b307aab938e8682c862b6183224bd72a33"}

In [ ]:
#token = os.getenv("key")

In [ ]:
re=requests.get(url, params=parameters)

In [ ]:
#re=requests.get(url)

In [ ]:
re.headers

In [ ]:
re_j=re.json()

In [ ]:
type(re_j)

In [ ]:
re_j.keys()

In [ ]:
data=re_j['data']

In [ ]:
data

In [ ]:
data.keys()

In [ ]:
Beijing=data['aqi'] #Dentro de la key data, hay otro diccionario y, dentro de "aqi", tengo el valor que se refiere a lo contaminado que está el aire que es el que me ineteresa.

In [ ]:
# función sin terminar pendiente de parámetros(ciudad, key).
# Mi idea es pasarle mi lista llamada "ciudades" con los valores únicos de mi df de todas las ciudades.

def air_quality(ciudades):
    for ciudad in ciudades:
        parameters = {"token": "8d08c0b307aab938e8682c862b6183224bd72a33", "keyword":"ciudad"}
        requests.get(url, params=parameters)

In [ ]:
# función que me da el nivel de contaminación del aire que sería la columna nueva que crearía en mi df.
# "x" sería el dato "aqi" dentro de "data", que es una de las keys del diccionario que me devuelve el .json:
# Aquí muestro el ejemplo para Beijing:

def quality_level (x):
    if x<=50:
        return "Good"
    elif 51<=x<=100:
        return "Moderate"
    elif 101<=x<=150:
        return "Unhealthy for Sensitive Groups"
    elif 151<=x<=200:
        return "Unhealthy"
    elif 201<=x<=300:
        return "Very Unhealthy"
    else:
        return "Hazardous"

In [ ]:
quality_level(Beijing)

In [33]:
watchCitiesWeather(getCities())

NameError: name 'watchCitiesWeather' is not defined