In [1]:
import pandas as pd
import requests 
import os
from dotenv import load_dotenv
import sys
sys.path.append('../')
import src.apis_functions as af

In [2]:
!pip3 install python-dotenv

Requirement already satisfied: python-dotenv in /home/lydia/anaconda3/lib/python3.8/site-packages (0.19.1)

In [3]:
df = pd.read_csv("../data/City_Quality_of_Life_Dataset.csv")

### Borro columnas que no me interesan de mi df:

In [4]:
df.drop(["Unnamed: 0", "Startups", "Venture Capital", "Travel Connectivity", "Business Freedom", "Tolerance"], axis=1, inplace=True)

In [5]:
df.sample()

,UA_Name,UA_Country,UA_Continent,Housing,Cost of Living,Commute,Safety,Healthcare,Education,Environmental Quality,Economy,Taxation,Internet Access,Leisure & Culture,Outdoors
75,Denver,Colorado,North America,3.8375,5.102,4.53,5.371,6.220333,3.6245,7.11675,6.5145,4.346,5.4185,6.2235,7.933

In [6]:
df.shape

(266, 15)

### Cambio nombres de las columnas.

In [7]:
for_city = {'UA_Name': 'City'}

In [8]:
df.rename(columns=for_city,inplace=True)

In [9]:
for_country= {'UA_Country': 'Country'}

In [10]:
df.rename(columns=for_country,inplace=True)

In [11]:
for_continent= {'UA_Continent': 'Continent'}

In [12]:
df.rename(columns=for_continent,inplace=True)

In [13]:
df.head()

,City,Country,Continent,Housing,Cost of Living,Commute,Safety,Healthcare,Education,Environmental Quality,Economy,Taxation,Internet Access,Leisure & Culture,Outdoors
0,Aarhus,Denmark,Europe,6.1315,4.015,6.31175,9.6165,8.704333,5.3665,7.63300,4.8865,5.0680,8.373,3.1870,4.1300
1,Adelaide,Australia,Oceania,6.3095,4.692,5.33625,7.9260,7.936667,5.1420,8.33075,6.0695,4.5885,4.341,4.3285,5.5310
2,Albuquerque,New Mexico,North America,7.2620,6.059,5.05575,1.3435,6.430000,4.1520,7.31950,6.5145,4.3460,5.396,4.8900,3.5155
3,Almaty,Kazakhstan,Asia,9.2820,9.333,5.87125,7.3090,4.545667,2.2830,3.85675,5.2690,8.5220,2.886,2.9370,5.5000
4,Amsterdam,Netherlands,Europe,3.0530,3.824,6.11850,8.5035,7.907333,6.1800,7.59725,5.0530,4.9550,4.523,8.8740,5.3070

### ENRICHING MY DF WITH AN API ABOUT AIR QUALITY:

In [ ]:
df['Air Quality']=df.City.apply(af.getquality)

In [ ]:
df.head()

In [ ]:
df.to_csv("../data/postapi.csv")

In [3]:
df_postapi = pd.read_csv("../data/postapi.csv")

In [4]:
df_postapi

,Unnamed: 0,City,Country,Continent,Housing,Cost of Living,Commute,Safety,Healthcare,Education,Environmental Quality,Economy,Taxation,Internet Access,Leisure & Culture,Outdoors,Air Quality
0,0,Aarhus,Denmark,Europe,6.1315,4.015,6.31175,9.6165,8.704333,5.3665,7.63300,4.8865,5.0680,8.3730,3.1870,4.1300,NaN
1,1,Adelaide,Australia,Oceania,6.3095,4.692,5.33625,7.9260,7.936667,5.1420,8.33075,6.0695,4.5885,4.3410,4.3285,5.5310,14
2,2,Albuquerque,New Mexico,North America,7.2620,6.059,5.05575,1.3435,6.430000,4.1520,7.31950,6.5145,4.3460,5.3960,4.8900,3.5155,89
3,3,Almaty,Kazakhstan,Asia,9.2820,9.333,5.87125,7.3090,4.545667,2.2830,3.85675,5.2690,8.5220,2.8860,2.9370,5.5000,185
4,4,Amsterdam,Netherlands,Europe,3.0530,3.824,6.11850,8.5035,7.907333,6.1800,7.59725,5.0530,4.9550,4.5230,8.8740,5.3070,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,261,Winnipeg,Canada,North America,7.5525,5.882,5.10450,6.0155,7.755667,5.3440,5.67475,5.8405,7.2745,4.9025,4.6880,4.2430,29
262,262,Wroclaw,Poland,Europe,8.4520,8.434,4.95475,8.1655,6.781333,4.1615,4.96475,4.7615,5.0970,5.7615,4.7495,4.0850,25
263,263,Yerevan,Armenia,Asia,9.6945,9.431,5.64925,8.8730,5.102000,0.0000,4.43950,3.4580,8.0550,3.9000,4.7370,7.7765,NaN
264,264,Zagreb,Croatia,Europe,8.9100,7.194,4.83000,8.6575,7.266000,3.2110,7.33150,2.2365,7.9935,5.0335,4.9945,4.8090,9
265,265,Zurich,Switzerland,Europe,1.4730,1.000,5.83950,9.0665,7.670333,7.2875,8.64300,6.5520,6.4285,7.2675,4.9655,5.4010,19

In [5]:
df_postapi['Air Quality Level']=df_postapi["Air Quality"].apply(af.quality_level)

In [6]:
df_postapi

,Unnamed: 0,City,Country,Continent,Housing,Cost of Living,Commute,Safety,Healthcare,Education,Environmental Quality,Economy,Taxation,Internet Access,Leisure & Culture,Outdoors,Air Quality,Air Quality Level
0,0,Aarhus,Denmark,Europe,6.1315,4.015,6.31175,9.6165,8.704333,5.3665,7.63300,4.8865,5.0680,8.3730,3.1870,4.1300,NaN,NaN
1,1,Adelaide,Australia,Oceania,6.3095,4.692,5.33625,7.9260,7.936667,5.1420,8.33075,6.0695,4.5885,4.3410,4.3285,5.5310,14,Good
2,2,Albuquerque,New Mexico,North America,7.2620,6.059,5.05575,1.3435,6.430000,4.1520,7.31950,6.5145,4.3460,5.3960,4.8900,3.5155,89,Moderate
3,3,Almaty,Kazakhstan,Asia,9.2820,9.333,5.87125,7.3090,4.545667,2.2830,3.85675,5.2690,8.5220,2.8860,2.9370,5.5000,185,Unhealthy
4,4,Amsterdam,Netherlands,Europe,3.0530,3.824,6.11850,8.5035,7.907333,6.1800,7.59725,5.0530,4.9550,4.5230,8.8740,5.3070,18,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,261,Winnipeg,Canada,North America,7.5525,5.882,5.10450,6.0155,7.755667,5.3440,5.67475,5.8405,7.2745,4.9025,4.6880,4.2430,29,Good
262,262,Wroclaw,Poland,Europe,8.4520,8.434,4.95475,8.1655,6.781333,4.1615,4.96475,4.7615,5.0970,5.7615,4.7495,4.0850,25,Good
263,263,Yerevan,Armenia,Asia,9.6945,9.431,5.64925,8.8730,5.102000,0.0000,4.43950,3.4580,8.0550,3.9000,4.7370,7.7765,NaN,NaN
264,264,Zagreb,Croatia,Europe,8.9100,7.194,4.83000,8.6575,7.266000,3.2110,7.33150,2.2365,7.9935,5.0335,4.9945,4.8090,9,Good
265,265,Zurich,Switzerland,Europe,1.4730,1.000,5.83950,9.0665,7.670333,7.2875,8.64300,6.5520,6.4285,7.2675,4.9655,5.4010,19,Good