In [2]:
import pandas as pd
import requests 
import os
from dotenv import load_dotenv

In [3]:
!pip3 install python-dotenv

Requirement already satisfied: python-dotenv in /home/lydia/anaconda3/lib/python3.8/site-packages (0.19.1)

In [7]:
df = pd.read_csv("../data/City_Quality_of_Life_Dataset.csv")

In [8]:
df.head()

,Unnamed: 0,UA_Name,UA_Country,UA_Continent,Housing,Cost of Living,Startups,Venture Capital,Travel Connectivity,Commute,...,Safety,Healthcare,Education,Environmental Quality,Economy,Taxation,Internet Access,Leisure & Culture,Tolerance,Outdoors
0,0,Aarhus,Denmark,Europe,6.1315,4.015,2.8270,2.512,3.5360,6.31175,...,9.6165,8.704333,5.3665,7.63300,4.8865,5.0680,8.373,3.1870,9.7385,4.1300
1,1,Adelaide,Australia,Oceania,6.3095,4.692,3.1365,2.640,1.7765,5.33625,...,7.9260,7.936667,5.1420,8.33075,6.0695,4.5885,4.341,4.3285,7.8220,5.5310
2,2,Albuquerque,New Mexico,North America,7.2620,6.059,3.7720,1.493,1.4555,5.05575,...,1.3435,6.430000,4.1520,7.31950,6.5145,4.3460,5.396,4.8900,7.0285,3.5155
3,3,Almaty,Kazakhstan,Asia,9.2820,9.333,2.4585,0.000,4.5920,5.87125,...,7.3090,4.545667,2.2830,3.85675,5.2690,8.5220,2.886,2.9370,6.5395,5.5000
4,4,Amsterdam,Netherlands,Europe,3.0530,3.824,7.9715,6.107,8.3245,6.11850,...,8.5035,7.907333,6.1800,7.59725,5.0530,4.9550,4.523,8.8740,8.3680,5.3070

In [9]:
df.columns

Index(['Unnamed: 0', 'UA_Name', 'UA_Country', 'UA_Continent', 'Housing',
       'Cost of Living', 'Startups', 'Venture Capital', 'Travel Connectivity',
       'Commute', 'Business Freedom', 'Safety', 'Healthcare', 'Education',
       'Environmental Quality', 'Economy', 'Taxation', 'Internet Access',
       'Leisure & Culture', 'Tolerance', 'Outdoors'],
      dtype='object')

### Borro columnas que no me interesan de mi df:

In [10]:
df.drop(["Unnamed: 0", "Startups", "Venture Capital", "Travel Connectivity", "Business Freedom", "Tolerance"], axis=1, inplace=True)

In [12]:
df.sample()

,UA_Name,UA_Country,UA_Continent,Housing,Cost of Living,Commute,Safety,Healthcare,Education,Environmental Quality,Economy,Taxation,Internet Access,Leisure & Culture,Outdoors
9,Asuncion,Paraguay,South America,9.2265,9.295,4.96875,6.9345,5.485333,0.0,3.969,4.109,8.4235,1.479,5.992,3.4845

In [13]:
df.shape

(266, 15)

### Cambio nombres de las columnas.

In [14]:
for_city = {'UA_Name': 'City'}

In [15]:
df.rename(columns=for_city,inplace=True)

In [16]:
for_country= {'UA_Country': 'Country'}

In [17]:
df.rename(columns=for_country,inplace=True)

In [18]:
for_continent= {'UA_Continent': 'Continent'}

In [19]:
df.rename(columns=for_continent,inplace=True)

In [20]:
df.head()

,City,Country,Continent,Housing,Cost of Living,Commute,Safety,Healthcare,Education,Environmental Quality,Economy,Taxation,Internet Access,Leisure & Culture,Outdoors
0,Aarhus,Denmark,Europe,6.1315,4.015,6.31175,9.6165,8.704333,5.3665,7.63300,4.8865,5.0680,8.373,3.1870,4.1300
1,Adelaide,Australia,Oceania,6.3095,4.692,5.33625,7.9260,7.936667,5.1420,8.33075,6.0695,4.5885,4.341,4.3285,5.5310
2,Albuquerque,New Mexico,North America,7.2620,6.059,5.05575,1.3435,6.430000,4.1520,7.31950,6.5145,4.3460,5.396,4.8900,3.5155
3,Almaty,Kazakhstan,Asia,9.2820,9.333,5.87125,7.3090,4.545667,2.2830,3.85675,5.2690,8.5220,2.886,2.9370,5.5000
4,Amsterdam,Netherlands,Europe,3.0530,3.824,6.11850,8.5035,7.907333,6.1800,7.59725,5.0530,4.9550,4.523,8.8740,5.3070

In [137]:
ciudades=list(df.City.unique())

In [254]:
len(ciudades)

264

In [21]:
paises=list(df.Country.unique())

In [22]:
len(paises)

135

### ENRICHING MY DF WITH AN API ABOUT AIR QUALITY:

In [238]:
url="http://api.waqi.info/feed/seoul/?token=8d08c0b307aab938e8682c862b6183224bd72a33"

In [235]:
#url="http://api.waqi.info/feed"

In [236]:
#parameters = {"city":"Beijing","token": "8d08c0b307aab938e8682c862b6183224bd72a33"}

In [217]:
#parameters = {"token": "8d08c0b307aab938e8682c862b6183224bd72a33"}

In [199]:
#token = os.getenv("key")

In [239]:
re=requests.get(url, params=parameters)

In [226]:
#re=requests.get(url)

In [240]:
re.headers

{'Server': 'nginx', 'Date': 'Sat, 06 Nov 2021 14:04:07 GMT', 'Content-Type': 'application/json; charset=UTF-8', 'Transfer-Encoding': 'chunked', 'Connection': 'keep-alive', 'Vary': 'Accept-Encoding', 'Access-Control-Allow-Origin': '*', 'X-Gen-Time': '225.623Âµs', 'X-Powered-By': 'rxstreamer-waqi/1.3', 'Content-Encoding': 'gzip'}

In [241]:
re_j=re.json()

In [242]:
type(re_j)

dict

In [243]:
re_j.keys()

dict_keys(['status', 'data'])

In [246]:
data=re_j['data']

In [247]:
data

{'aqi': 124,
 'idx': 5508,
 'attributions': [{'url': 'https://www.airkorea.or.kr/',
   'name': 'South Air Korea Environment Corporation (대기오염실시간공개시스템)',
   'logo': 'SouthKorea-AirKorea.png'},
  {'url': 'http://cleanair.seoul.go.kr/',
   'name': 'Seoul Clean Air Pollution Information (서울특별시 기후대기환경정보)',
   'logo': 'SouthKorea-Seoul.png'},
  {'url': 'http://www.airkorea.or.kr/',
   'name': 'South Air Korea Environment Corporation (대기오염실시간공개시스템)',
   'logo': 'SouthKorea-AirKorea.png'},
  {'url': 'https://waqi.info/', 'name': 'World Air Quality Index Project'}],
 'city': {'geo': [37.566535, 126.9779692],
  'name': 'Seoul (서울)',
  'url': 'https://aqicn.org/city/seoul'},
 'dominentpol': 'pm25',
 'iaqi': {'co': {'v': 10},
  'h': {'v': 61},
  'no2': {'v': 70.7},
  'o3': {'v': 1.6},
  'p': {'v': 1006},
  'pm10': {'v': 65},
  'pm25': {'v': 124},
  'r': {'v': 0.2},
  'so2': {'v': 4.3},
  't': {'v': 29.3},
  'w': {'v': 3.2},
  'wd': {'v': 292.5}},
 'time': {'s': '2021-11-06 22:00:00',
  'tz': '+09:00',
  'v': 1636236000,
  'iso': '2021-11-06T22:00:00+09:00'},
 'forecast': {'daily': {'o3': [{'avg': 1,
     'day': '2021-11-04',
     'max': 5,
     'min': 1},
    {'avg': 1, 'day': '2021-11-05', 'max': 7, 'min': 1},
    {'avg': 1, 'day': '2021-11-06', 'max': 17, 'min': 1},
    {'avg': 5, 'day': '2021-11-07', 'max': 15, 'min': 1},
    {'avg': 9, 'day': '2021-11-08', 'max': 15, 'min': 4},
    {'avg': 10, 'day': '2021-11-09', 'max': 13, 'min': 7},
    {'avg': 10, 'day': '2021-11-10', 'max': 14, 'min': 3},
    {'avg': 2, 'day': '2021-11-11', 'max': 7, 'min': 1}],
   'pm10': [{'avg': 61, 'day': '2021-11-05', 'max': 73, 'min': 54},
    {'avg': 53, 'day': '2021-11-06', 'max': 58, 'min': 46},
    {'avg': 34, 'day': '2021-11-07', 'max': 46, 'min': 19},
    {'avg': 22, 'day': '2021-11-08', 'max': 28, 'min': 19},
    {'avg': 18, 'day': '2021-11-09', 'max': 22, 'min': 14},
    {'avg': 18, 'day': '2021-11-10', 'max': 19, 'min': 9},
    {'avg': 16, 'day': '2021-11-11', 'max': 22, 'min': 10},
    {'avg': 17, 'day': '2021-11-12', 'max': 19, 'min': 7}],
   'pm25': [{'avg': 142, 'day': '2021-11-05', 'max': 151, 'min': 138},
    {'avg': 123, 'day': '2021-11-06', 'max': 138, 'min': 89},
    {'avg': 70, 'day': '2021-11-07', 'max': 121, 'min': 39},
    {'avg': 46, 'day': '2021-11-08', 'max': 65, 'min': 38},
    {'avg': 50, 'day': '2021-11-09', 'max': 68, 'min': 30},
    {'avg': 53, 'day': '2021-11-10', 'max': 68, 'min': 30},
    {'avg': 53, 'day': '2021-11-11', 'max': 68, 'min': 30},
    {'avg': 50, 'day': '2021-11-12', 'max': 68, 'min': 21}],
   'uvi': [{'avg': 1, 'day': '2021-11-06', 'max': 2, 'min': 0},
    {'avg': 1, 'day': '2021-11-07', 'max': 3, 'min': 0},
    {'avg': 0, 'day': '2021-11-08', 'max': 1, 'min': 0},
    {'avg': 0, 'day': '2021-11-09', 'max': 1, 'min': 0},
    {'avg': 0, 'day': '2021-11-10', 'max': 1, 'min': 0},
    {'avg': 0, 'day': '2021-11-11', 'max': 1, 'min': 0}]}},
 'debug': {'sync': '2021-11-06T22:22:35+09:00'}}

In [248]:
data.keys()

dict_keys(['aqi', 'idx', 'attributions', 'city', 'dominentpol', 'iaqi', 'time', 'forecast', 'debug'])

In [251]:
Beijing=data['aqi'] #Dentro de la key data, hay otro diccionario y, dentro de "aqi", tengo el valor que se refiere a lo contaminado que está el aire que es el que me ineteresa.

In [253]:
# función sin terminar pendiente de parámetros(ciudad, key).
# Mi idea es pasarle mi lista llamada "ciudades" con los valores únicos de mi df de todas las ciudades.

def air_quality(ciudades):
    for ciudad in ciudades:
        parameters = {"token": "8d08c0b307aab938e8682c862b6183224bd72a33", "keyword":"ciudad"}
        requests.get(url, params=parameters)

In [250]:
# función que me da el nivel de contaminación del aire que sería la columna nueva que crearía en mi df.
# "x" sería el dato "aqi" dentro de "data", que es una de las keys del diccionario que me devuelve el .json:
# Aquí muestro el ejemplo para Beijing:

def quality_level (x):
    if x<=50:
        return "Good"
    elif 51<=x<=100:
        return "Moderate"
    elif 101<=x<=150:
        return "Unhealthy for Sensitive Groups"
    elif 151<=x<=200:
        return "Unhealthy"
    elif 201<=x<=300:
        return "Very Unhealthy"
    else:
        return "Hazardous"

In [252]:
quality_level(Beijing)

'Unhealthy for Sensitive Groups'