In [25]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [26]:
df = pd.read_csv("../data/City_Quality_of_Life_Dataset.csv")

In [27]:
df.sample()

,Unnamed: 0,UA_Name,UA_Country,UA_Continent,Housing,Cost of Living,Startups,Venture Capital,Travel Connectivity,Commute,...,Safety,Healthcare,Education,Environmental Quality,Economy,Taxation,Internet Access,Leisure & Culture,Tolerance,Outdoors
77,77,Detroit,Michigan,North America,6.223,6.032,5.4015,5.184,3.6405,0.933,...,4.4615,5.786333,5.8185,4.04675,6.5145,3.7785,6.167,7.478,3.678,5.3875

In [28]:
df.columns

Index(['Unnamed: 0', 'UA_Name', 'UA_Country', 'UA_Continent', 'Housing',
       'Cost of Living', 'Startups', 'Venture Capital', 'Travel Connectivity',
       'Commute', 'Business Freedom', 'Safety', 'Healthcare', 'Education',
       'Environmental Quality', 'Economy', 'Taxation', 'Internet Access',
       'Leisure & Culture', 'Tolerance', 'Outdoors'],
      dtype='object')

### 1. Unuseful columns are deleted :

In [29]:
df.drop(["Unnamed: 0", "Startups", "Venture Capital", "Travel Connectivity", "Business Freedom", "Tolerance"], axis=1, inplace=True)

In [30]:
df.sample()

,UA_Name,UA_Country,UA_Continent,Housing,Cost of Living,Commute,Safety,Healthcare,Education,Environmental Quality,Economy,Taxation,Internet Access,Leisure & Culture,Outdoors
14,Baku,Azerbaijan,Asia,9.745,9.806,5.492,8.772,3.702,0.0,2.62125,3.8765,5.861,1.442,6.2195,4.503

In [31]:
df.shape

(266, 15)

### 2. Rename some columns:

In [32]:
for_city = {'UA_Name': 'City'}

In [33]:
df.rename(columns=for_city,inplace=True)

In [34]:
for_country= {'UA_Country': 'Country'}

In [35]:
df.rename(columns=for_country,inplace=True)

In [36]:
for_continent= {'UA_Continent': 'Continent'}

In [37]:
df.rename(columns=for_continent,inplace=True)

In [38]:
df.sample()

,City,Country,Continent,Housing,Cost of Living,Commute,Safety,Healthcare,Education,Environmental Quality,Economy,Taxation,Internet Access,Leisure & Culture,Outdoors
227,Skopje,Macedonia,Europe,9.7405,9.11,5.7365,7.2795,6.628667,0.5,2.64925,4.1225,9.475,4.5205,6.208,3.302

In [39]:
paises=list(df.Country.unique())

In [40]:
len(paises)

135

### 3. Creating a new column "Average Score" which is the mean of all the columns.

In [44]:
df["Average Score"]=df.mean(axis=1)

<ipython-input-44-083e61cc0b4b>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df["Average Score"]=df.mean(axis=1)

In [73]:
df.head()

,City,Country,Continent,Housing,Cost of Living,Commute,Safety,Healthcare,Education,Environmental Quality,Economy,Taxation,Internet Access,Leisure & Culture,Outdoors,Average Score
0,Aarhus,Denmark,Europe,6.1315,4.015,6.31175,9.6165,8.704333,5.3665,7.63300,4.8865,5.0680,8.373,3.1870,4.1300,6.118590
1,Adelaide,Australia,Oceania,6.3095,4.692,5.33625,7.9260,7.936667,5.1420,8.33075,6.0695,4.5885,4.341,4.3285,5.5310,5.877639
2,Albuquerque,New Mexico,North America,7.2620,6.059,5.05575,1.3435,6.430000,4.1520,7.31950,6.5145,4.3460,5.396,4.8900,3.5155,5.190313
3,Almaty,Kazakhstan,Asia,9.2820,9.333,5.87125,7.3090,4.545667,2.2830,3.85675,5.2690,8.5220,2.886,2.9370,5.5000,5.632889
4,Amsterdam,Netherlands,Europe,3.0530,3.824,6.11850,8.5035,7.907333,6.1800,7.59725,5.0530,4.9550,4.523,8.8740,5.3070,5.991299

### 4. Enriching my dataframe by Web Scrapping:

In [49]:
url = "https://www.iqair.com/world-most-polluted-countries"
html = requests.get(url)
soup = BeautifulSoup(html.content,"html.parser")

In [50]:
#soup

In [51]:
paises = soup.find_all("div", {"class": "country-name"})

In [52]:
#paises

In [53]:
#paises[0].getText().strip()

In [54]:
paises_clean = [pais.getText().strip() for pais in paises]

In [65]:
paises_clean

['Bangladesh',
 'Pakistan',
 'India',
 'Mongolia',
 'Afghanistan',
 'Oman',
 'Qatar',
 'Kyrgyzstan',
 'Indonesia',
 'Bosnia Herzegovina',
 'Bahrain',
 'Nepal',
 'Mali',
 'China',
 'Kuwait',
 'Tajikistan',
 'North Macedonia',
 'Uzbekistan',
 'Myanmar',
 'United Arab Emirates',
 'Vietnam',
 'Bulgaria',
 'Iran',
 'Ghana',
 'Montenegro',
 'Uganda',
 'Armenia',
 'Serbia',
 'Saudi Arabia',
 'Laos',
 'Sri Lanka',
 'Ivory Coast',
 'Kazakhstan',
 'Thailand',
 'Croatia',
 'Cambodia',
 'Georgia',
 'Algeria',
 'Madagascar',
 'Kosovo',
 'South Korea',
 'Chile',
 'Guatemala',
 'Ukraine',
 'Mexico',
 'Turkey',
 'Italy',
 'Greece',
 'South Africa',
 'Peru',
 'Macao SAR',
 'Turkmenistan',
 'Poland',
 'Israel',
 'Albania',
 'Cyprus',
 'Romania',
 'Malaysia',
 'Colombia',
 'Hong Kong SAR',
 'Slovakia',
 'Taiwan',
 'Jordan',
 'Ethiopia',
 'Hungary',
 'Argentina',
 'Kenya',
 'Brazil',
 'Angola',
 'Philippines',
 'Czech Republic',
 'Malta',
 'Singapore',
 'Lithuania',
 'Latvia',
 'Senegal',
 'France',
 'Austria',
 'Curacao',
 'Spain',
 'Germany',
 'Japan',
 'Netherlands',
 'USA',
 'Denmark',
 'Russia',
 'Portugal',
 'Luxembourg',
 'Switzerland',
 'Belgium',
 'Ireland',
 'United Kingdom',
 'Costa Rica',
 'Ecuador',
 'Australia',
 'Andorra',
 'Canada',
 'Iceland',
 'New Zealand',
 'Estonia',
 'Norway',
 'Finland',
 'Sweden',
 'U.S. Virgin Islands',
 'New Caledonia',
 'Puerto Rico']

In [56]:
#type(paises_clean)

In [57]:
aire = soup.find_all("span")

In [58]:
#aire

In [59]:
aire[15].getText()

' 77.10 '

In [60]:
aire_clean = [elemento.getText().strip() for elemento in aire]

In [61]:
#aire_clean

In [62]:
import numpy as np
aire_clean
I = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,-1,-2]
aire_clean2=np.delete(aire_clean, I).tolist()

In [63]:
#aire_clean2

In [64]:
aire_clean3= []
indexes=[0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140, 144, 148, 152, 156, 160, 164, 168, 172, 176, 180, 184, 188, 192, 196, 200, 204, 208, 212, 216, 220, 224, 228, 232, 236, 240, 244, 248, 252, 256, 260, 264, 268, 272, 276, 280, 284, 288, 292, 296, 300, 304, 308, 312, 316, 320, 324, 328, 332, 336, 340, 344, 348, 352, 356, 360, 364, 368, 372, 376, 380, 384, 388, 392, 396, 400, 404, 408, 412, 416, 420]
for i in indexes:
    aire_clean3.append(aire_clean2[i])
print(aire_clean3)

['77.10', '59.00', '51.90', '46.60', '46.50', '44.40', '44.30', '43.50', '40.70', '40.60', '39.70', '39.20', '37.90', '34.70', '34.00', '30.90', '30.60', '29.90', '29.40', '29.20', '28.00', '27.50', '27.20', '26.90', '26.10', '26.10', '24.90', '24.30', '23.30', '22.40', '22.40', '21.90', '21.90', '21.40', '21.20', '21.10', '20.40', '20.20', '20.00', '20.00', '19.50', '19.30', '19.20', '19.20', '18.90', '18.70', '18.50', '18.40', '18.00', '17.90', '17.80', '17.00', '16.90', '16.90', '16.00', '15.80', '15.80', '15.60', '15.60', '15.40', '15.30', '15.00', '14.90', '14.70', '14.30', '14.20', '14.20', '14.20', '13.00', '12.80', '12.30', '11.80', '11.80', '11.70', '11.30', '11.20', '11.10', '10.90', '10.50', '10.40', '10.10', '9.80', '9.70', '9.60', '9.40', '9.30', '9.10', '9.00', '9.00', '8.90', '8.60', '8.30', '8.20', '7.60', '7.60', '7.40', '7.30', '7.20', '7.00', '5.90', '5.70', '5.00', '5.00', '3.70', '3.70', '3.70']

In [66]:
len(aire_clean3)

106

In [78]:
diccionario = {"paÃ­s": paises_clean, "Air Quality":aire_clean3}

In [79]:
data = pd.DataFrame(diccionario)

In [80]:
data.sample(20)

                    paÃ­s Air Quality
99               Estonia        5.90
30             Sri Lanka       22.40
23                 Ghana       26.90
6                  Qatar       44.30
26               Armenia       24.90
66                 Kenya       14.20
57              Malaysia       15.60
76                France       11.10
63              Ethiopia       14.70
92            Costa Rica        8.20
0             Bangladesh       77.10
22                  Iran       27.20
8              Indonesia       40.70
100               Norway        5.70
18               Myanmar       29.40
36               Georgia       20.40
42             Guatemala       19.20
86              Portugal        9.10
103  U.S. Virgin Islands        3.70
81                 Japan        9.80

In [81]:
data.shape

(106, 2)

### 5. Merging both dataframes (df & data):

In [94]:
pd.merge(df,data,left_on="Country", right_on="paÃ­s", suffixes=["_izq", "_dcha"])

,City,Country,Continent,Housing,Cost of Living,Commute,Safety,Healthcare,Education,Environmental Quality,Economy,Taxation,Internet Access,Leisure & Culture,Outdoors,Average Score,paÃ­s,Air Quality
0,Andorra,Andorra,Europe,3.969,0.0,0.0,9.5535,0.0,0.0,7.256,0.0,4.475,7.186,2.132,3.5885,3.18,Andorra,7.40

In [95]:
resultado.head()

,City,Country,Continent,Housing,Cost of Living,Commute,Safety,Healthcare,Education,Environmental Quality,Economy,Taxation,Internet Access,Leisure & Culture,Outdoors,Average Score,paÃ­s,Air Quality
0,Andorra,Andorra,Europe,3.969,0.0,0.0,9.5535,0.0,0.0,7.256,0.0,4.475,7.186,2.132,3.5885,3.18,Andorra,7.40

In [96]:
enriched.shape

(1, 18)