In [181]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [182]:
df = pd.read_csv("../data/City_Quality_of_Life_Dataset.csv")

In [183]:
df.sample()

,Unnamed: 0,UA_Name,UA_Country,UA_Continent,Housing,Cost of Living,Startups,Venture Capital,Travel Connectivity,Commute,...,Safety,Healthcare,Education,Environmental Quality,Economy,Taxation,Internet Access,Leisure & Culture,Tolerance,Outdoors
18,18,Barcelona,Spain,Europe,6.323,6.074,7.7585,5.655,5.806,5.69925,...,7.4075,8.403333,5.029,3.6655,4.296,3.894,6.468,8.5915,7.4715,5.828

In [184]:
df.columns

Index(['Unnamed: 0', 'UA_Name', 'UA_Country', 'UA_Continent', 'Housing',
       'Cost of Living', 'Startups', 'Venture Capital', 'Travel Connectivity',
       'Commute', 'Business Freedom', 'Safety', 'Healthcare', 'Education',
       'Environmental Quality', 'Economy', 'Taxation', 'Internet Access',
       'Leisure & Culture', 'Tolerance', 'Outdoors'],
      dtype='object')

### 1. Unuseful columns are deleted :

In [185]:
df.drop(["Unnamed: 0", "Startups", "Venture Capital", "Travel Connectivity", "Business Freedom", "Tolerance"], axis=1, inplace=True)

In [186]:
df.sample()

,UA_Name,UA_Country,UA_Continent,Housing,Cost of Living,Commute,Safety,Healthcare,Education,Environmental Quality,Economy,Taxation,Internet Access,Leisure & Culture,Outdoors
61,Chisinau,Moldova,Europe,9.6765,9.343,5.495,7.628,5.066,1.3995,4.33825,3.9765,6.2325,5.3615,2.712,3.121

In [187]:
df.shape

(266, 15)

### 2. Renaming some columns:

In [188]:
for_city = {'UA_Name': 'City'}

In [189]:
df.rename(columns=for_city,inplace=True)

In [190]:
for_country= {'UA_Country': 'Country'}

In [191]:
df.rename(columns=for_country,inplace=True)

In [192]:
for_continent= {'UA_Continent': 'Continent'}

In [193]:
df.rename(columns=for_continent,inplace=True)

In [194]:
df

,City,Country,Continent,Housing,Cost of Living,Commute,Safety,Healthcare,Education,Environmental Quality,Economy,Taxation,Internet Access,Leisure & Culture,Outdoors
0,Aarhus,Denmark,Europe,6.1315,4.015,6.31175,9.6165,8.704333,5.3665,7.63300,4.8865,5.0680,8.3730,3.1870,4.1300
1,Adelaide,Australia,Oceania,6.3095,4.692,5.33625,7.9260,7.936667,5.1420,8.33075,6.0695,4.5885,4.3410,4.3285,5.5310
2,Albuquerque,New Mexico,North America,7.2620,6.059,5.05575,1.3435,6.430000,4.1520,7.31950,6.5145,4.3460,5.3960,4.8900,3.5155
3,Almaty,Kazakhstan,Asia,9.2820,9.333,5.87125,7.3090,4.545667,2.2830,3.85675,5.2690,8.5220,2.8860,2.9370,5.5000
4,Amsterdam,Netherlands,Europe,3.0530,3.824,6.11850,8.5035,7.907333,6.1800,7.59725,5.0530,4.9550,4.5230,8.8740,5.3070
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Winnipeg,Canada,North America,7.5525,5.882,5.10450,6.0155,7.755667,5.3440,5.67475,5.8405,7.2745,4.9025,4.6880,4.2430
262,Wroclaw,Poland,Europe,8.4520,8.434,4.95475,8.1655,6.781333,4.1615,4.96475,4.7615,5.0970,5.7615,4.7495,4.0850
263,Yerevan,Armenia,Asia,9.6945,9.431,5.64925,8.8730,5.102000,0.0000,4.43950,3.4580,8.0550,3.9000,4.7370,7.7765
264,Zagreb,Croatia,Europe,8.9100,7.194,4.83000,8.6575,7.266000,3.2110,7.33150,2.2365,7.9935,5.0335,4.9945,4.8090
265,Zurich,Switzerland,Europe,1.4730,1.000,5.83950,9.0665,7.670333,7.2875,8.64300,6.5520,6.4285,7.2675,4.9655,5.4010

In [195]:
paises=list(df.Country.unique())

In [196]:
len(paises)

135

### 3. Creating a new column "Average Score" which is the mean of all the columns.

In [197]:
df["Average Score"]=df.mean(axis=1)

<ipython-input-197-083e61cc0b4b>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df["Average Score"]=df.mean(axis=1)

In [198]:
df.head()

,City,Country,Continent,Housing,Cost of Living,Commute,Safety,Healthcare,Education,Environmental Quality,Economy,Taxation,Internet Access,Leisure & Culture,Outdoors,Average Score
0,Aarhus,Denmark,Europe,6.1315,4.015,6.31175,9.6165,8.704333,5.3665,7.63300,4.8865,5.0680,8.373,3.1870,4.1300,6.118590
1,Adelaide,Australia,Oceania,6.3095,4.692,5.33625,7.9260,7.936667,5.1420,8.33075,6.0695,4.5885,4.341,4.3285,5.5310,5.877639
2,Albuquerque,New Mexico,North America,7.2620,6.059,5.05575,1.3435,6.430000,4.1520,7.31950,6.5145,4.3460,5.396,4.8900,3.5155,5.190313
3,Almaty,Kazakhstan,Asia,9.2820,9.333,5.87125,7.3090,4.545667,2.2830,3.85675,5.2690,8.5220,2.886,2.9370,5.5000,5.632889
4,Amsterdam,Netherlands,Europe,3.0530,3.824,6.11850,8.5035,7.907333,6.1800,7.59725,5.0530,4.9550,4.523,8.8740,5.3070,5.991299

### 4. Leaving "Country" column just with its unique values (just one city per country).

In [199]:
frecuencia_country=df.Country.value_counts()

In [200]:
columna_Country=list(df.Country)

In [201]:
df2=(df.drop_duplicates(subset = "Country")) # He intentado dejar cada paÃ­s una Ãºnica vez pensando que ese era el problema por el cuÃ¡l no podÃ­a hacer el "merge"

In [234]:
df2.Country.value_counts()

 Denmark      1
 Slovenia     1
 Oklahoma     1
 Cyprus       1
 Louisiana    1
             ..
 Romania      1
 Belgium      1
 Czechia      1
 Slovakia     1
 Croatia      1
Name: Country, Length: 135, dtype: int64

In [233]:
df["Country"].value_counts()

 United Kingdom    13
 Canada            11
 Germany           11
 France             9
 Spain              7
                   ..
 Qatar              1
 Michigan           1
 Iowa               1
 Tanzania           1
 Croatia            1
Name: Country, Length: 135, dtype: int64

### 5 Enriching my dataframe by Web Scrapping:

In [205]:
url = "https://www.iqair.com/world-most-polluted-countries"
html = requests.get(url)
soup = BeautifulSoup(html.content,"html.parser")

In [206]:
#soup

In [207]:
paises = soup.find_all("div", {"class": "country-name"})

In [208]:
#paises

In [209]:
#paises[0].getText().strip()

In [210]:
paises_clean = [pais.getText().strip() for pais in paises]

In [211]:
paises_clean

['Bangladesh',
 'Pakistan',
 'India',
 'Mongolia',
 'Afghanistan',
 'Oman',
 'Qatar',
 'Kyrgyzstan',
 'Indonesia',
 'Bosnia Herzegovina',
 'Bahrain',
 'Nepal',
 'Mali',
 'China',
 'Kuwait',
 'Tajikistan',
 'North Macedonia',
 'Uzbekistan',
 'Myanmar',
 'United Arab Emirates',
 'Vietnam',
 'Bulgaria',
 'Iran',
 'Ghana',
 'Montenegro',
 'Uganda',
 'Armenia',
 'Serbia',
 'Saudi Arabia',
 'Laos',
 'Sri Lanka',
 'Ivory Coast',
 'Kazakhstan',
 'Thailand',
 'Croatia',
 'Cambodia',
 'Georgia',
 'Algeria',
 'Madagascar',
 'Kosovo',
 'South Korea',
 'Chile',
 'Guatemala',
 'Ukraine',
 'Mexico',
 'Turkey',
 'Italy',
 'Greece',
 'South Africa',
 'Peru',
 'Macao SAR',
 'Turkmenistan',
 'Poland',
 'Israel',
 'Albania',
 'Cyprus',
 'Romania',
 'Malaysia',
 'Colombia',
 'Hong Kong SAR',
 'Slovakia',
 'Taiwan',
 'Jordan',
 'Ethiopia',
 'Hungary',
 'Argentina',
 'Kenya',
 'Brazil',
 'Angola',
 'Philippines',
 'Czech Republic',
 'Malta',
 'Singapore',
 'Lithuania',
 'Latvia',
 'Senegal',
 'France',
 'Austria',
 'Curacao',
 'Spain',
 'Germany',
 'Japan',
 'Netherlands',
 'USA',
 'Denmark',
 'Russia',
 'Portugal',
 'Luxembourg',
 'Switzerland',
 'Belgium',
 'Ireland',
 'United Kingdom',
 'Costa Rica',
 'Ecuador',
 'Australia',
 'Andorra',
 'Canada',
 'Iceland',
 'New Zealand',
 'Estonia',
 'Norway',
 'Finland',
 'Sweden',
 'U.S. Virgin Islands',
 'New Caledonia',
 'Puerto Rico']

In [212]:
#type(paises_clean)

In [213]:
aire = soup.find_all("span")

In [214]:
#aire

In [215]:
aire[15].getText()

' 77.10 '

In [216]:
aire_clean = [elemento.getText().strip() for elemento in aire]

In [217]:
#aire_clean

In [218]:
import numpy as np
aire_clean
I = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,-1,-2]
aire_clean2=np.delete(aire_clean, I).tolist()

In [219]:
#aire_clean2

In [220]:
aire_clean3= []
indexes=[0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140, 144, 148, 152, 156, 160, 164, 168, 172, 176, 180, 184, 188, 192, 196, 200, 204, 208, 212, 216, 220, 224, 228, 232, 236, 240, 244, 248, 252, 256, 260, 264, 268, 272, 276, 280, 284, 288, 292, 296, 300, 304, 308, 312, 316, 320, 324, 328, 332, 336, 340, 344, 348, 352, 356, 360, 364, 368, 372, 376, 380, 384, 388, 392, 396, 400, 404, 408, 412, 416, 420]
for i in indexes:
    aire_clean3.append(aire_clean2[i])
print(aire_clean3)

['77.10', '59.00', '51.90', '46.60', '46.50', '44.40', '44.30', '43.50', '40.70', '40.60', '39.70', '39.20', '37.90', '34.70', '34.00', '30.90', '30.60', '29.90', '29.40', '29.20', '28.00', '27.50', '27.20', '26.90', '26.10', '26.10', '24.90', '24.30', '23.30', '22.40', '22.40', '21.90', '21.90', '21.40', '21.20', '21.10', '20.40', '20.20', '20.00', '20.00', '19.50', '19.30', '19.20', '19.20', '18.90', '18.70', '18.50', '18.40', '18.00', '17.90', '17.80', '17.00', '16.90', '16.90', '16.00', '15.80', '15.80', '15.60', '15.60', '15.40', '15.30', '15.00', '14.90', '14.70', '14.30', '14.20', '14.20', '14.20', '13.00', '12.80', '12.30', '11.80', '11.80', '11.70', '11.30', '11.20', '11.10', '10.90', '10.50', '10.40', '10.10', '9.80', '9.70', '9.60', '9.40', '9.30', '9.10', '9.00', '9.00', '8.90', '8.60', '8.30', '8.20', '7.60', '7.60', '7.40', '7.30', '7.20', '7.00', '5.90', '5.70', '5.00', '5.00', '3.70', '3.70', '3.70']

In [221]:
len(aire_clean3)

106

In [222]:
diccionario = {"Country": paises_clean, "Air Quality":aire_clean3}

In [223]:
air_quality = pd.DataFrame(diccionario)

In [224]:
air_quality.sample(20)

                 Country Air Quality
28          Saudi Arabia       23.30
82           Netherlands        9.70
27                Serbia       24.30
91        United Kingdom        8.30
11                 Nepal       39.20
76                France       11.10
46                 Italy       18.50
17            Uzbekistan       29.90
36               Georgia       20.40
103  U.S. Virgin Islands        3.70
43               Ukraine       19.20
75               Senegal       11.20
78               Curacao       10.50
65             Argentina       14.20
100               Norway        5.70
48          South Africa       18.00
77               Austria       10.90
72             Singapore       11.80
41                 Chile       19.30
97               Iceland        7.20

In [225]:
air_quality.shape

(106, 2)

### 6. Merging both dataframes (df & data):

In [239]:
merger1=pd.merge(df2,air_quality,left_on="Country", right_on="Country")

In [240]:
#merger1

In [241]:
merger=df2.merge(air_quality, how="left", left_on = "Country", right_on="Country")

In [242]:
#merger